* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("../img/stars.png");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

[id] {
  scroll-margin-top: 46px;
}

@media (min-width: 992px) {
  [id] {
    scroll-margin-top: 47px;
  }
}

/* navigation */
.nav-link {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar-toggler {
  padding: 1em 2em;
}

/* home section */

.team {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/milky.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.team img.color {
  position: absolute;
  bottom: 0;
  right: -5%;
  height: 36%;
  z-index: 1;
  animation: color 20s linear infinite;
}

.team img.gray {
  position: absolute;
  bottom: 0;
  left: -70%;
  height: 110%;
  opacity: 0.4;
  animation: gray 20s linear infinite;
}

.team .member {
  position: absolute;
  top: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
  animation: text 20s linear infinite;
}

.home .team .member .btn {
  margin-top: 10px;
  padding: 1em 1.8em;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-shadow: none;
}

.team h1 {
  font-size: 4rem;
}

.team h2 {
  font-size: 2.2rem;
}

/* about section  */

.about-top {
  border-top: 2px solid white;
}

.about-info {
  background-color: rgb(248, 248, 248);
}

.about-info .container {
  padding: 2em 0.5em;
}

.about-top .about-content {
  font-size: 1.8rem;
  text-align: justify;
  /* text-shadow: 0 2px 5px black; */
}

.about-info p {
  font-size: 1.6rem;
  text-shadow: 0 0 1px black;
}

.about-text {
  padding: 1.8em;
}

.about-text h3 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline #007bff;
}

.about-text-right {
  text-align: right;
}

.about-img {
  height: 300px;
  object-fit: cover;
}

.revealFromLeft {
  opacity: 0;
  filter: blur(10%);
  transform: translateX(-100vw);
  transition: all 2s ease;
}

.revealFromRight {
  opacity: 0;
  filter: blur(10%);
  transform: translateX(100vw);
  transition: all 2s ease;
}

.revealFromDown {
  filter: blur(10%);
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.revealFromLeft.showFromLeft {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.revealFromRight.showFromRight {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.revealFromDown.showFromDown {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

/* carousel */

header {
  font-size: 2rem;
}

.carousel-item {
  position: relative;
  height: 500px;
  background-position: center;
  background-size: cover;
  z-index: 0;
  border-bottom: 2px solid white;
}

.carousel-img-one {
  background-image: url("../img/about/main-carousel-1.jpg");
}
.carousel-img-two {
  background-image: url("../img/about/main-carousel-2.jpg");
}
.carousel-img-three {
  background-image: url("../img/about/main-carousel-3.jpg");
}

.carousel-item .carousel-item-span-two {
  color: #8612fb;
}

.carousel-item .carousel-item-span-three {
  color: #bf4080;
}

/* projects */

.projects-info {
  border-bottom: 2px solid white;
}

.projects-info .projects-info-content {
  font-size: 1.8rem;
}

.projects-info .btn {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* contact */

.contact h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
}

.contact .contact-content {
  font-size: 2rem;
}

.contact-logo i {
  transition: 0.3s;
}

.contact-logo i {
  font-size: 4rem;
  color: white;
  padding: 0 0.3em;
}

/* footer */

footer {
  font-size: 1.6rem;
}

@media (min-width: 992px) {
  .about-info .container {
    padding: 0;
  }

  .about-shadow {
    box-shadow: inset 0 15px 10px -5px rgba(0, 0, 0, 0.4);
  }

  .about-text {
    padding: 5em 0;
  }

  .about-text-left {
    padding-right: 2em;
    text-align: right;
  }

  .about-text-right {
    padding-left: 2em;
    text-align: left;
  }

  .about-img {
    height: auto;
    transform: skew(-15deg);
  }

  .revealFromLeft {
    opacity: 0;
    filter: blur(10%);
    transform: translateX(-100vw);
    transition: all 2s ease;
  }

  .revealFromLeft.showFromLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: skew(-15deg);
  }

  .contact-logo i:hover {
    text-shadow: 0 0 5px white;
  }
}

@media (orientation: landscape) {
  .team img.color {
    right: 3%;
    height: 56%;
  }

  .team img.gray {
    bottom: -10%;
    left: -15%;
    height: 130%;
  }

  .team .member {
    width: 60%;
    right: 0;
    left: auto;
  }
}

@media (min-width: 1025px) {
  .team h1 {
    font-size: 8rem;
  }

  .team h2 {
    font-size: 5rem;
  }
}

@-webkit-keyframes color {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    transform: translateX(-10%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes color {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    transform: translateX(-10%);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes gray {
  0% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(5%) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes gray {
  0% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(5%) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes text {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 1920px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1080px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 1920px;
  }
  to {
    background-position: -100px 0px;
    background-size: 1080px;
  }
}
